body {
    background-color: #c6e3ab;
}
.navbar {
    background-color: #8ac158;
    padding: 5px, 5px, 10px, 5px;
    margin: 0px;
}
.logo {
    padding: 6px;
}
.nav li {
    padding: 20px;
    font-size: 1.5em;
}
#myNavbar {
    background-color: #8ac158;
    border-style: none;
}
#myNavbar li a {
    color: white;
}
#myNavbar li a:hover {
    color: #9f5d9f;
    background-color: #8ac158;
    text-decoration: underline;
}
.dropdown-menu {
    background-color: #8ac158;
}
.navbar-form {
    padding: 20px;
}
.container {
    background-color: white;
    padding: 2.5%;
}
.carousel-wrapper {
    width: 84%; /* for example */
    margin: auto;
    margin-bottom: 4%;
    background-color: #8ac158;
}
.carousel-indicators > li {
    padding: 10px;
    border-radius: 50%;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: inline-block;
    margin: auto;
}
.carousel-caption {
    text-align: right;
    bottom: 25%;
}
